<form>
  <label>
    <input id="username" type="text" name="username" />
  </label>
  <label>
    <input id="password" type="password" name="password" />
  </label>
  <button type="submit">Login</button>
</form>